<div class="card" style="max-width: 100%; height: auto;">
    <div class="card-header">
       Data Binding 
    </div>
    <img class="card-img-top" src="https://e1.pxfuel.com/desktop-wallpaper/457/258/desktop-wallpaper-gojo-satoru-chibi-gojo-chibi.jpg" alt="Trulli" style="width:100%">
    <div class="card-body">
        <h4 class="card-title">{{getName()}}</h4>
        <p class="card-text">
            <li>StudentID: {{id}}</li>
            <li>Age: {{2023-year}}</li>
        </p>
        <a href="#" class="btn btn-primary">See Profile</a>
    </div>
</div>